ehcache.listener.hostName={{ ansible_default_ipv4.address }}

ehcache.listener.port={{ jira_ehcache_listener_port }}

ehcache.object.port={{ jira_ehcache_object_port }}

jira.node.id={{ jira_node_id }}

jira.shared.home={{ jira_shared_dir }}
